<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.1" xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd">
  <persistence-unit name="CriticalSystemsPU2" transaction-type="JTA">
    <jta-data-source>jdbc/se</jta-data-source>
    <class>entity.Disc</class>
    <class>entity.Discount</class>
    <class>entity.Division</class>
    <class>entity.Employee</class>
    <class>entity.Genre</class>
    <class>entity.IDCard</class>
    <class>entity.Job</class>
    <class>entity.LoanPeriod</class>
    <class>entity.Members</class>
    <class>entity.Rack</class>
    <class>entity.Ranking</class>
    <class>entity.Receipt</class>
    <class>entity.ReceiptDetails</class>
    <class>entity.Register</class>
    <class>entity.RegisterInfo</class>
    <class>entity.Role</class>
    <class>entity.Sales</class>
    <class>entity.StockMoving</class>
    <class>entity.Store</class>
    <class>entity.TempMember</class>
    <class>entity.Title</class>
    <exclude-unlisted-classes>true</exclude-unlisted-classes>
    <properties>
    </properties>
  </persistence-unit>
</persistence>
